@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Block level elements stack on top of each other and always create new line.
   Inline elts don't stack on each other
*/

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

p {
  background-color: lightgray;
}

ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: #0f1111;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}