@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* Pseudo classes- link, visited, hover, active */
/* Order of applying pseudo classes- link, visited, hover, active */

a:link {
    color: hwb(207 27% 29%)
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: hwb(189 27% 29%)
}

a:active {
    color: red;
}