h1 {
  color: red;
}

/* Turns all paragraphs and all list items to be green */
p,
li {
  color: green;
}

/* Applies the rule to all elements with class special */
.special {
  color: orange;
  font-weight: bold;
}

/* descendant combinator: selects any <em> element that is a descendant of an <li> */
li em {
  color: rebeccapurple;
}

/* next-sibling combinator: Ex. A paragraph that comes directly after a heading at the same hierarchy level in the HTML */
h1 + p {
  font-size: 200%;
}


/* Styling based on state of an element, ex:
1. Unvisited link -- Pink
2. Visited Link -- Green
3. Hover -- Removes the underline when the link is hovered on */
a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

/* selects any <span> that is inside a <p>, which is inside an <article>

article p span {
    
}

*/


/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1> 

h1 + ul + p {

}

*/


/* Targets any elements with class special which is inside a <p>, which comes just after an <h1>  */
h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

.outer {
  border: 5px solid black;
}


/* calc() function: can do simple math within CSS */
.box {
  padding: 10px;
  width: calc(90% - 30px); 
  background-color: rebeccapurple;
  color: white;
}

/* rotate() function */
.box_2 {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}


/* Media queries use conditional logic for applying CSS styling.

Ex: defines a default pink background for the <body> element. However, a media query follows that sets a blue background on the <body> element if the browser viewport is wider than 30em. 

body {
  background-color: pink;
}

@media (width >= 30em) {
  body {
    background-color: blue;
  }
}

*/

/* 
Short Hand properties

In 4-value shorthands like padding and margin, the values are applied
in the order top, right, bottom, left (clockwise from the top). There are also other
shorthand types, for example 2-value shorthands, which set padding/margin
for top/bottom, then left/right 
   
Ex: padding: 10px 15px 15px 5px;

is equivalent to 
padding-top: 10px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 5px;


*/