html {
  background-color: white;
}

/* BOX STYLES */

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto 0 auto;  /*This centers the contents of the body !! */
}

ul {
    background-color: white;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px; /* Smoothens the corners of the box !!*/
}

/* TEXT STYLES */

h1 {
    color: darkslategray;
    border-bottom: 10px dotted purple;
    font-size: 2rem;
}

h2 {
    font-style: italic;
    font-size: 1.5rem;
}

.job-title {
    color: darkslategray;
    font-weight: bold;
}

a:link {
    color: green;
}

a:hover,
a:focus {
    color: darkgreen;
    text-decoration: none;
}